<div>

	<div id="leftdiv">
		<div id="listview">
			<table id="moviegrid"></table>
			<div id="movienav"></div>
		</div>
	</div>
	
	<div id="rightdiv">
		<div id="itemview" class="ui-widget ui-widget-content ui-corner-all"></div>
	</div>

</div>
