<% content_for :head do %>
<script type="text/javascript" src="/steal/steal.js?movies"></script>
<% end %>

<div>

	<div id="leftdiv">
		<div id="listview">
			<table id="moviegrid"></table>
			<div id="movienav"></div>
		</div>
	</div>
	
	<div id="rightdiv">
		<div id="itemview" class="ui-widget ui-widget-content ui-corner-all"></div>
	</div>
	<input id="editable" type="hidden" value="<%= permitted_to? :edit, @catalogue %>" />

</div>
