#nav li {
	list-style-type:none;display:inline;margin-right: -0.1em;
}

#nav {
	padding:0;margin:0;
}

#header {
	padding: 2% 5%;
}

#topsearch {
	float: right;margin:0;padding:0;
}

.ui-button-text {
	color: #FFF;
}

#leftdiv {
	float: left;
	width:50%;
}

#rightdiv {
	float:right;
	width:50%;
}

#listview {
	width: 98%;
	margin-left: auto ;
    margin-right: auto ;
}

#itemview {
	margin-left: auto ;
    margin-right: auto ;
    overflow: hidden;
    padding-top:0;
}

#leftItemView {
	
}

#rightItemView {
	float:right;
	width:200px;
}

label {
	font-weight: bold;
}

#jqgh_name,#jqgh_year,#jqgh_added { font-size:1.4em }

.logo {
	font-size: 3em;
}

.movie-title {
	padding:5px;margin:2px;
}

.movie-content{
	margin:10px;
}

#content {
	
}
