#leftdiv {
	float:left;
	width:50%;
}

#rightdiv {
	float:right;
	width:50%;
}

#listview {
	width: 95%;
	margin-left: auto ;
    margin-right: auto ;
}

#itemview {
	margin-left: auto ;
    margin-right: auto ;
}

#leftItemView {
	float:left;
	width:70%;
}

#rightItemView {
	float:right;
	width:30%;
}

label {
	font-weight: bold;
}
