#nav li {
	list-style-type:none;display:inline;
}

#nav li a {
	margin-right:-0.4em;
}

#nav {
	padding-top:0;margin-top:0;
}

#header {
	padding: 2% 5%;
	margin-bottom:4%;
	position:relative;
}

#topsearch {
	float: right;margin:0;padding:0;
}


#leftdiv {
	float: left;
	width:50%;
}

#rightdiv {
	float:right;
	width:50%;
}

#listview {
	width: 98%;
	margin-left: auto ;
    margin-right: auto ;
}

#itemview {
	margin-left: auto ;
    margin-right: auto ;
    overflow: hidden;
    padding-top:0;
    min-height:200px;
}

#rightItemView {
	float:right;
	width:200px;
}

label {
	font-weight: bold;
}

#jqgh_name,#jqgh_year,#jqgh_added { font-size:1.4em }

.logo img {
	position:absolute;
	left:0px;
	top:0px;
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;
	padding-top:2%;
	margin-left:5%;
}
.logo img.default {
	opacity: 1;
}
.logo img.default:hover {
	opacity: 0;
}
.logo img.hover {
	opacity: 0;
}
.logo img.hover:hover {
	opacity: 1;
}

.movie-title {
	padding:5px;margin:2px;padding-left:10px;
}

.movie-content{
	margin:10px;
}

ins.differ{
	text-decoration: none;
	background-color:#006600;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
del.differ{
	text-decoration: none;
	background-color:#580000;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
  word-wrap: break-word;
  height:auto;
  vertical-align:text-top;
  padding-top:2px;
}

#changes-parent {
	width:90%;
	margin-left: auto ;
	margin-right: auto ;
}

.long {
    width:300px;
}
