<% content_for :head do %>
<script type="text/javascript" src="/steal/steal.js?changes"></script>
<% end %>
<div id="changes-parent">
<table id="changes-table"></table>
<div id="changes-div"></div>
</div>

<div id="legend" style="text-align: center;">
	<span style="color:#580000;font-size:250%">■</span>
	Deleted
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<span style="color:#006600;font-size:250%">■</span>
	Added
</div>
